<div id="main-cntr">
  <ul class="tile-list tdd-info-tiles">
    <a href="javascript:void(0)"><li class="tile-list-row">
      <h5>MAFT Application Tests</h5>
      <p>This section contains an interactive list of tests for MAFT web application. Both Rails and JS tests are available. Great place to look for code examples for your project</p>
    </li></a>
    <a href="<%= view_tdd_process_path %>"><li class="tile-list-row">
      <h5>TDD Process for Solo Web Development</h5>
      <p>This section contains an activity diagram giving guidance on how to follow the TDD process</p>
    </li></a>
  </ul>
</div>