<div class="page-content">
  <!--<ul class="large-block-grid-4 tdd-info-tiles">-->
    <!--<a href="javascript:void(0)">-->
    <!--<li class="">-->
      <!--<h5>MAFT Application Tests</h5>-->
      <!--<p>This section contains an interactive list of tests for MAFT web application. Both Rails and JS tests are available. Great place to look for code examples for your project</p>-->
    <!--</li></a>-->
    <!--<a href="<%= view_tdd_process_path %>">-->
      <!--<li class="">-->
      <!--<h5><i class="general foundicon-idea"></i> TDD Process for Solo Web Development</h5>-->
      <!--<p>This section contains an activity diagram giving guidance on how to follow the TDD process</p>-->
    <!--</li></a>-->
  <!--</ul>-->

  <ul class="small-block-grid-2 tdd-info-tiles">
    <li>
      <div class="panel">
        <h5><i class="general foundicon-tools"></i>&nbsp;MAFT Application Tests</h5>
      <p>This section contains an interactive list of tests for MAFT web application. Both Rails and JS tests are available. Great place to look for code examples for your project</p>
        <a href="<%= vew_app_tests_path %>" class="button success tiny radius">Go To Section</a>
      </div>
    </li>
    <li>
      <div class="panel">
      <h5><i class="general foundicon-idea"></i>&nbsp;TDD Process for Solo Web Development</h5>
      <p>This section contains an activity diagram giving guidance on how to follow the TDD process</p>
        <a href="<%= view_tdd_process_path %>" class="button success tiny radius">Go To Section</a>
      </div>
    </li>
  </ul>
</div>