<div class="slideshow-wrapper">
<ul data-orbit data-options="timer_speed:2500; bullets:false;">
  <li data-orbit-slide="headline-1">
    <h2>Headline 1</h2>
    <h3>Subheadline</h3>
    <p>Pellentesque habitant morbi tristique senectus.</p>
  </li>
  <li data-orbit-slide="headline-2">
    <h2>Headline 2</h2>
    <h3>Subheadline</h3>
    <p>Pellentesque habitant morbi tristique senectus.</p>
  </li>
  <li data-orbit-slide="headline-3">
    <h2>Headline 3</h2>
    <h3>Subheadline</h3>
    <p>Pellentesque habitant morbi tristique senectus.</p>
  </li>
</ul>
</div>

<!--&lt;!&ndash; Now link to the slides above &ndash;&gt;-->
<!--<ul class="disc">-->
  <!--<li><a href="#" data-orbit-link="headline-1">Goto Slide 1</a></li>-->
  <!--<li><a href="#" data-orbit-link="headline-2">Goto Slide 2</a></li>-->
  <!--<li><a href="#" data-orbit-link="headline-3">Goto Slide 3</a></li>-->
<!--</ul>-->