<div class="page-content">
<h3 class="title-pane"><i class="general foundicon-address-book"></i> Project Team</h3>
<div id="add-users-container">
    <%= form_tag({controller: "project", action: "add_users", id: @project.id},  method: "post", name: 'link_users') do |f| %>
      <% @users.each do |u| %>
          <div class="edit-row">
            <label>
              <%= check_box 'users_to_link', u.id, {checked: @project.users.include?(u)} %>
              <%= u.name %>
            </label>
          </div>
      <% end %>
    <button id="save-users" class="button tiny radius">Save</button>
    <button class="cancel button tiny radius">Cancel</button>
  <% end %>
</div>
    </div>